@page
@model SecureApp.Pages.HumanResourceModel
@{
}

<div class="text-center">
    <h1 class="display-4">HR Page</h1>
    <br />
</div>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp C</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Forecasts)
            {
                <tr>
                    <td>@item.Date.ToLongDateString()</td>
                    <td>@item.TemperatureC</td>
                    <td>@item.Summary</td>
                </tr>
            }
        </tbody>
    </table>
</div>