@page
@model WebApp.Pages.Account.RegisterModel
@{
}

<h3>User Registration</h3>

<div class="container border" style="padding: 20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterVM.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="RegisterVM.Email" class="form-control" />
                <span class="text-danger" asp-validation-for="RegisterVM.Email"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterVM.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="RegisterVM.Password" class="form-control" />
                <span class="text-danger" asp-validation-for="RegisterVM.Password"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterVM.Department"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="RegisterVM.Department" class="form-control" />
                <span class="text-danger" asp-validation-for="RegisterVM.Department"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterVM.Position"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="RegisterVM.Position" class="form-control" />
                <span class="text-danger" asp-validation-for="RegisterVM.Position"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
            <div class="col-5">
                <a class="btn btn-link" href="/Account/Login">Login</a>
            </div>
        </div>
    </form>
</div>